## Welcome to the SQL mini project. You will carry out this project partly in the PHPMyAdmin interface, and partly in Jupyter via a Python connection.

This is Tier 1 of the case study, which means that there'll be more guidance for you about how to 
setup your local SQLite connection in PART 2 of the case study. 

The questions in the case study are exactly the same as with Tier 2. 

PART 1: PHPMyAdmin
You will complete questions 1-9 below in the PHPMyAdmin interface. 
Log in by pasting the following URL into your browser, and
using the following Username and Password:

URL: https://sql.springboard.com/
Username: student
Password: learn_sql@springboard (**did not work, I had to use admin_springboard / springboardbackup at the url: https://frankfletcher.co/springboard_phpmyadmin/index.php)

The data you need is in the "country_club" database. This database
contains 3 tables:
    i) the "Bookings" table,
    ii) the "Facilities" table, and
    iii) the "Members" table.

In this case study, you'll be asked a series of questions. You can
solve them using the platform, but for the final deliverable,
paste the code for each solution into this script, and upload it
to your GitHub.

Before starting with the questions, feel free to take your time,
exploring the data, and getting acquainted with the 3 tables.


### QUESTIONS 
#### Q1: Some of the facilities charge a fee to members, but some do not. Write a SQL query to produce a list of the names of the facilities that do.

SELECT name <br>
FROM Facilities  <br>
WHERE membercost = 0;<br>

#### Q2: How many facilities do not charge a fee to members?

Count: 4<br>
SELECT COUNT(name) AS count_no_fee <br>
FROM Facilities <br>
WHERE membercost = 0;<br>

#### Q3: Write an SQL query to show a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost. Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

SELECT facid, name, membercost, monthlymaintenance <br>
FROM Facilities<br>
WHERE membercost > 0 AND membercost < (monthlymaintenance * 0.2);<br>

#### Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5. Try writing the query without using the OR operator.

SELECT * <br>
FROM Facilities <br>
WHERE facid IN (1,5); <br>

#### Q5: Produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than 100. Return the name and monthly maintenance of the facilities in question. 

SELECT name, monthlymaintenance, <br>
CASE WHEN monthlymaintenance > 100 <br>
THEN 'expensive' <br>
WHEN monthlymaintenance < 100 <br>
THEN 'cheap' <br>
END AS maintenance_label <br>
FROM Facilities; <br>

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Try not to use the LIMIT clause for your solution.

SELECT firstname, surname, joindate <br>
FROM Members <br>
WHERE joindate =  <br>
    (SELECT MAX(joindate) <br>
     FROM Members); <br>

#### Q7: Produce a list of all members who have used a tennis court. Include in your output the name of the court, and the name of the member formatted as a single column. Ensure no duplicate data, and order by the member name.

SELECT DISTINCT CONCAT(m.firstname, ' ', m.surname) AS membername, f.name <br>
FROM Bookings AS b <br>
INNER JOIN Facilities AS f<br>
USING (facid)<br>
INNER JOIN Members AS m<br>
USING (memid)<br>
WHERE f.name LIKE 'Tennis%';<br>

#### Q8: Produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than 30. Remember that guests have different costs to members (the listed costs are per half-hour 'slot'), and the guest user's ID is always 0. Include in your output the name of the facility, the name of the member formatted as a single column, and the cost. Order by descending cost, and do not use any subqueries.

SELECT
  f.name,
  concat_ws(' ', m.firstname, m.surname) AS member,
  guestcost,
  membercost
FROM Facilities AS f
JOIN Bookings AS b
ON f.facid = b.facid
JOIN Members AS m
ON b.memid = m.memid
WHERE (starttime BETWEEN '2012-09-14 00:00:00' AND '2012-09-15 00:00:00')
		  AND ((m.memid = 0 AND guestcost * slots > 30) OR
           (m.memid != 0 AND membercost * slots > 30));<br>

#### Q9: This time, produce the same result as in Q8, but using a subquery.

**BLANK**<br>

### PART 2: SQLite
We now want you to jump over to a local instance of the database on your machine. 

Copy and paste the LocalSQLConnection.py script into an empty Jupyter notebook, and run it. 

Make sure that the SQLFiles folder containing thes files is in your working directory, and
that you haven't changed the name of the .db file from 'sqlite\db\pythonsqlite'.

You should see the output from the initial query 'SELECT * FROM FACILITIES'.

Complete the remaining tasks in the Jupyter interface. If you struggle, feel free to go back
to the PHPMyAdmin interface as and when you need to. 

You'll need to paste your query into value of the 'query1' variable and run the code block again to get an output.

### QUESTIONS:
#### Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! 
SELECT name, SUM(
    CASE WHEN memid = 0 
    THEN guestcost * slots 
    ELSE membercost * slots END) AS revenue 
FROM Bookings AS b 
INNER JOIN Facilities AS f 
USING (facid) 
GROUP BY name 
HAVING revenue < 1000;

#### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
SELECT CONCAT(a.surname, ", ", a.firstname) as membername, CONCAT(b.surname, ", ", b.firstname) AS recommendedby 
FROM Members AS a, Members b 
WHERE a.recommendedby > 0 AND a.recommendedby = b.memid 
ORDER BY b.surname;

#### Q12: Find the facilities with their usage by member, but not guests 
SELECT name, 
    CONCAT(firstname, ' ', surname) AS membername, 
    COUNT(surname) AS usage_by_member 
FROM Bookings 
INNER JOIN Facilities 
USING(facid) 
INNER JOIN Members 
USING(memid) 
WHERE memid != 0 
GROUP BY name, membername 
ORDER BY usage_by_member DESC;

#### Q13: Find the facilities usage by month, but not guests 
SELECT EXTRACT(month from starttime) as month, name, COUNT(name) as 'usage' 
FROM Bookings 
LEFT JOIN Facilities 
USING(facid)
WHERE memid != 0 
GROUP BY month, name;

In [ ]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

In [ ]:
#Q10
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
con = engine.connect()
                       
with engine.connect() as con:
    rs = con.execute('SELECT name, SUM(CASE WHEN memid = 0 THEN guestcost * slots ELSE membercost * slots END) AS revenue FROM Bookings AS b INNER JOIN Facilities AS f USING (facid) GROUP BY name HAVING revenue < 1000')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

    print(df.head())

In [ ]:
#Q11
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
con = engine.connect()

with engine.connect() as con:
    rs = con.execute('SELECT CONCAT(a.surname, ", ", a.firstname) as membername, CONCAT(b.surname, ", ", b.firstname) AS recommendedby FROM Members AS a, Members b WHERE a.recommendedby > 0 AND a.recommendedby = b.memid ORDER BY b.surname')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

    print(df.head())

In [ ]:
#Q12
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
con = engine.connect()

with engine.connect() as con:
    rs = con.execute('SELECT name, CONCAT(firstname, ' ', surname) AS membername, COUNT(surname) AS usage_by_member FROM Bookings INNER JOIN Facilities USING(facid) INNER JOIN Members USING(memid) WHERE memid != 0 GROUP BY name, membername ORDER BY usage_by_member DESC')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

    print(df.head())